.add-option {
    bottom: 1px;
    .label {
        width: 100%;
        display: block !important;
        margin-top: 5vh !important;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .option {
        display: inline-block !important;
        border-radius: 0px !important;
    }

    .options-button {
        height: 6vh;
        display: inline-block;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .remove {
        position: relative !important;
        float: right !important;
        margin: 0px;
    }
}



#react-template-target {
    margin: 0 auto;
    width: 50vw;
}
