$bg-color: #004262;
$foreground-primary: #007AB5;
$foreground-secondary: #005A85;
$highlight: #D8E6EC;

$main-font:  'Cabin', sans-serif;
$style-font: 'Macondo', cursive;

head {
    font-family: $main-font;
}
body {
    background-color: $bg-color;
    color: $highlight;
    font-family: $style-font !important;
}

.user-option {
    background: $foreground-secondary !important;
    color: $highlight !important;

    .removeOne {
        background: $foreground-secondary;
        color: $highlight;
        border: 0px;

        float: right;
    }
}

.add-option {
    bottom: 1px;

    .label {
        background-color: $foreground-secondary !important;
        color: $highlight !important;

        width: 100%;
        display: block !important;
        margin-top: 5vh !important;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .option {
        background-color: $foreground-primary !important;
        color: $highlight !important;

        display: inline-block !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        margin-bottom: 5px !important;
    }

    .options-button {
        height: 6vh;
        display: inline-block;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .remove {
        position: relative !important;
        float: right !important;
        margin: 0px;
    }
}



#react-template-target {
    margin: 0 auto;
    width: 50vw;
}
