head {
  font-family: "Cabin", sans-serif;
}

body {
  background-color: #004262;
  color: #D8E6EC;
  font-family: "Macondo", cursive !important;
  padding-top: 12px !important;
}

#jsx-h1 {
  color: #3E92A3 !important;
}

.head {
  display: inline;
  text-align: center;
}

.head-container {
  text-align: center;
  margin: 0 auto;
}

.user-option {
  background: #005A85 !important;
  color: #D8E6EC !important;
}

.user-option .removeOne {
  background: #005A85;
  color: #FF5733;
  border: 0px;
  text-align: center !important;
  padding: 5px;
  float: right;
}

.add-option {
  bottom: 1px;
}

.add-option .label {
  background-color: #005A85 !important;
  color: #D8E6EC !important;
  width: 100%;
  display: block !important;
  margin-top: 5vh !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-option .option {
  background-color: #007AB5 !important;
  color: #D8E6EC !important;
  display: inline-block !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-bottom: 5px !important;
}

.buttons-container {
  display: block;
  margin-bottom: 10px;
  height: 8vh;
}

.buttons-container .make-decision {
  display: flex;
  float: left;
}

.buttons-container .add-remove-container {
  display: flex;
  flex-direction: row;
  float: right;
}

.buttons-container .add-remove-container .options-button {
  display: inline-block;
  margin: 0px;
  background: #007AB5;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid #D8E6EC;
}

.buttons-container .add-remove-container .remove {
  clear: both;
  position: relative !important;
  float: right !important;
  margin: 0px;
  background: #FF5733;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid #D8E6EC;
}

.options-list {
  clear: both;
  margin-top: 10px !important;
}

.answer {
  margin: 0 auto !important;
  text-align: center;
}

.thanks {
  text-align: center !important;
  margin: 0 !important;
  padding: 0.5em !important;
  display: block !important;
  border-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.thanks .button {
  padding-right: 0 !important;
}

.modal-head {
  background: #007AB5;
  color: #D8E6EC;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#decision {
  border-radius: 20px;
  background: #007AB5;
}

#react-template-target {
  margin: 0 auto;
  width: 50vw;
}
